
// Custom color theme 

$yellow: #fcc632;
$white: #fff;

$primary: #0A2472;
$secondary: #001C55;
$dark: #00072D;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "white": $white,
    "yellow": $yellow,
);

:export {

    @each $key,
    $value in $theme-colors {
        #{unquote($key)}: $value;
    }
}


 @import "~bootstrap/scss/bootstrap.scss"
