@use "../scss/variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');


$montserrat: 'Montserrat', sans-serif; 

// Responsive fonts 

.h1 {
    font-family: $montserrat !important;

    font-weight: 600 !important;
    font-size: 2.5em !important;
    line-height: 1.05em !important;
    
}
 @media (max-width: 768px) {
     .h1 {
         font-size: 1.4em !important;
         line-height: 1.25em !important;
     }
  
}

.h2 {
    font-family: $montserrat !important;
    
    font-weight: 500 !important;
    font-size: 2em !important;
    line-height: 1.125em !important;
}

@media (max-width: 768px) {
    .h2 {
        font-size: 1em !important;
        line-height: 1.125em !important;
    }

}

.h3 {
    font-family: $montserrat;
    color: v.$secondary !important;
    font-weight: 400 !important;
    font-size: 1.5em !important;
    line-height: 1.25em !important;
}

@media (max-width: 768px) {
    .h3 {
        font-size: 1.5em !important;
        line-height: 1.125em !important;
    }

}

p {
    font-family: $montserrat;
    color: v.$dark  !important;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.375em;
}
@media (max-width: 768px) {
    p {
            font-size: 1em;
            line-height: 1.125em;
        }
 
}

 // Nav link font-styles

.nav-link {
    font-family: $montserrat !important;
        font-weight: 300 !important;
        font-size: 1.5rem !important;
        
}

.form-error {
    color: red;
}

.warning {
    color: red;

}