.footer-navigation {
    ul {
        list-style-type: none;
        li > a {
           
            color: white;
            &:hover {
                color: red;
            }
        }
    }
}