.footer-navigation {
    ul {
        list-style-type: none;
        li > a {
           
            color: white;
            text-decoration: none;
            &:hover {
                color: lightgray;
            }
        }
    }
}

.footer {
    margin-top: 300px !important;
}

